@model List<HouseKeeper2.Core.Models.Counter>

@{
    ViewBag.Title = "Counters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Counters</h2>
@Html.ActionLink("Add new Counter", "Create", "Counters",null, new {@class="btn btn-primary"})
<p></p>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Serial Number</th>
        <th>Display</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var counter in @Model)
    {
        <tr>
            <td>@counter.Id</td>
            <td>@counter.Name</td>
            <td>@counter.SerialNumber</td>
            <td>@{
                    if (counter.Measurements.Count == 0)
                    {
                       @Html.ActionLink("Add", "Create","Measurements", new {counterId=counter.Id}, new {@class="btn btn-default"})
                    }
                    else
                    {
                        @Html.ActionLink("View history", "ShowMeasurementsHistory", "Measurements", new { counterId = counter.Id }, new { @class = "btn btn-default" })
                }

            }
            </td>
            <td>@Html.ActionLink("Edit", "Edit", "Counters", new {id=counter.Id}, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", "Counters", new{id=counter.Id}, new {@class="btn btn-default"})</td>
        </tr>
    }
    </tbody>
</table>