@model HouseKeeper2.Core.ViewModels.MeasurementViewModel

@{
    ViewBag.Title = "Measurement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add measurement for "@Model.CounterName"</h2>
@using (@Html.BeginForm("Save", "Measurements"))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.Date)
        @Html.TextBoxFor(m=>m.Date, "{0:dd.MM.yyyy}", new {@class="form-control"})
        @Html.ValidationMessageFor(m=>m.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.Display)
        @Html.TextBoxFor(m=>m.Display, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Display)
    </div>
    @Html.HiddenFor(m=>m.CounterId)
    @Html.HiddenFor(m=>m.CounterName)
    @Html.HiddenFor(m=>m.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}
