@model IEnumerable<HouseKeeper2.Core.Models.Service>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Services</h2>
<div>
   @Html.ActionLink("Add new Service", "Create", "Services", new { @class = "btn btn-primary" })
</div>
<p></p>
<div>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Counter</th>
            <th></th>
        </tr>
        </thead>
     @foreach (var service in Model)
        {
            <tr>
                <td>@service.Id</td>
                <td>@service.Name</td>
                <td>
                    @{
                        if (service.Counter != null)
                        {
                            @service.Counter.Name
                            ;
                        }
                        else
                        {
                            @Html.ActionLink("Edit", "Edit","Services", new {id=@service.Id}, new {@class="btn btn-default"} );}
                    }</td>
                <td>@Html.ActionLink("Edit", "Edit", "Services", new { id = service.Id }, new {@class="btn btn-default"})
                    @Html.ActionLink("Delete", "Delete", "Services", new { id = service.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>

