@model HouseKeeper2.Core.ViewModels.ServiceViewModel

@{
    ViewBag.Title = Model.Service.Id>0 ? "Edit Service" : "New Service";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Service.Id > 0)
{
    <h2>Edit Service</h2>
}
else
{
    <h2>New Service</h2>
}


@using (Html.BeginForm("Save", "Services"))
{
    <div class="form-group">
        @Html.LabelFor(l => l.Service.Name)
        @Html.TextBoxFor(s => s.Service.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Service.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(s=>s.Counters)
        @Html.DropDownListFor(s=>s.Service.CounterId, new SelectList(Model.Counters, "Id", "Name"), "", new {@class="form-control"})
    </div>
    @Html.HiddenFor(s=>s.Service.Id)
    <button type="submit" class="btn btn-primary">Save</button>

    if (Model.Service.Id > 0)
    {
        <button type="button" class="btn btn-default">Delete</button>
    }


}

