@model HouseKeeper2.Core.ViewModels.ServiceBillsListViewModel
@{
    ViewBag.Title = "Service Bills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Service bills</h2>
<div class="form-group">
   
        <input class="form-control" value="@Model.Period.ToString("MM.yyyy")" disabled />
        @Html.ActionLink("Prev", "Index", "ServiceBills", new {period = @Model.Period.AddMonths(-1)}, new {@class="btn btn-default"})
        @Html.ActionLink("Next", "Index", "ServiceBills", new {period = @Model.Period.AddMonths(+1)}, new {@class="btn btn-default"})

    
</div>

@Html.ActionLink("Create", "Create", "ServiceBills", new {period=@Model.Period},new {@class="btn btn-primary"})
<p></p>
@{
    if (!Model.ServiceBills.Any())
    {
        <p>THere are no Service Bill yet</p>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Service</th>
                <th>Tariff</th>
                <th>Counter Display</th>
                <th>Period</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var sb in @Model.ServiceBills)
            {
                <tr>
                    <td>@sb.Id</td>
                    <td>@sb.Service.Name</td>
                    <td>@sb.Tariff.Price</td>
                    <td>@sb.Measurement</td>
                    <td>@sb.Period.ToString("MM.yyyy")</td>
                    <td>@sb.TotalForPayment</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "ServiceBills", new {id=sb.Id}, new {@class="btn btn-default"})
                        <button class="btn btn-danger js-delete"  type="button" data-delete-id="@sb.Id">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
        </table>
    }
}
@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-delete").click(function (e) {
                var serviceBill = $(e.target);
                var id= serviceBill.attr("data-delete-id");
                bootbox.dialog({
                    title: 'Confirm',
                    message: "<p>Are you sure you want to delete this service bill?</p>",
                    buttons: {
                        cancel: {
                            label: "No",
                            className: 'btn-default',
                            callback: function(){
                                
                            }
                        },
                        ok: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                        url: "/api/servicebills/" + id,
                                        method: "DELETE"
                                    })
                                    .done(function() {
                                        serviceBill.parents("tr").fadeOut(function () {
                                                $(this).remove();
                                            })
                                    .fail(function() {
                                           alert("Something went wrong");
                                            });
                                    });
                            }
                        }
                    }
                });
            });
        });
</script>
}
