@model IEnumerable<HouseKeeper2.Core.Models.ServiceBill>
@{
    ViewBag.Title = "Service Bills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Service bills</h2>
@Html.ActionLink("Create", "Create", "ServiceBills", new {@class="btn btn-primary"})
@{
    if (!Model.Any())
    {
        <p>THere are no Service Bill yet</p>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Service</th>
                <th>Tariff</th>
                <th>Counter Display</th>
                <th>Period</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var sb in @Model)
            {
                <tr>
                    <td>@sb.Id</td>
                    <td>@sb.Service.Name</td>
                    <td>@sb.Tariff.Price</td>
                    <td>@sb.Measurement</td>
                    <td>@sb.Period.ToString("MM.yyyy")</td>
                    <td>@sb.TotalForPayment</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "ServiceBills", new {id=sb.Id}, new {@class="btn btn-primary"})
                        @Html.ActionLink("Delete", "Delete", "ServiceBills", new {id=sb.Id}, new {@class="btn btn-default"})
                    </td>
                </tr>
            }
        </tbody>
        </table>
    }
}

